= link_to 'https://github.com/lemattma/tictactoe-rails-angularjs', target: '_blank', class: 'gh-ribbon' do
  = image_tag 'https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png', alt: 'Fork me on GitHub'
